<template>
<div class="ggapp-pixel-canvas-drawlayer" style="height: 100%; width: 100%"><div class="block block1" style="top: 24em; left:0em;"></div>
<div class="block block1" style="top: 24em; left:59em;"></div>
<div class="block block1" style="top: 35em; left:0em;"></div>
<div class="block block1" style="top: 35em; left:59em;"></div>
<div class="block block1" style="top: 25em; left:0em;"></div>
<div class="block block1" style="top: 25em; left:59em;"></div>
<div class="block block1" style="top: 34em; left:0em;"></div>
<div class="block block1" style="top: 34em; left:59em;"></div>
<div class="block block1" style="top: 26em; left:0em;"></div>
<div class="block block1" style="top: 26em; left:59em;"></div>
<div class="block block1" style="top: 33em; left:0em;"></div>
<div class="block block1" style="top: 33em; left:59em;"></div>
<div class="block block1" style="top: 27em; left:0em;"></div>
<div class="block block1" style="top: 27em; left:59em;"></div>
<div class="block block1" style="top: 32em; left:0em;"></div>
<div class="block block1" style="top: 32em; left:59em;"></div>
<div class="block block1" style="top: 28em; left:0em;"></div>
<div class="block block1" style="top: 28em; left:59em;"></div>
<div class="block block1" style="top: 31em; left:0em;"></div>
<div class="block block1" style="top: 31em; left:59em;"></div>
<div class="block block1" style="top: 29em; left:0em;"></div>
<div class="block block1" style="top: 29em; left:59em;"></div>
<div class="block block1" style="top: 30em; left:0em;"></div>
<div class="block block1" style="top: 30em; left:59em;"></div>
<div class="block block1" style="top: 21em; left:1em;"></div>
<div class="block block1" style="top: 21em; left:58em;"></div>
<div class="block block1" style="top: 38em; left:1em;"></div>
<div class="block block1" style="top: 38em; left:58em;"></div>
<div class="block block1" style="top: 22em; left:1em;"></div>
<div class="block block1" style="top: 22em; left:58em;"></div>
<div class="block block1" style="top: 37em; left:1em;"></div>
<div class="block block1" style="top: 37em; left:58em;"></div>
<div class="block block1" style="top: 23em; left:1em;"></div>
<div class="block block1" style="top: 23em; left:58em;"></div>
<div class="block block1" style="top: 36em; left:1em;"></div>
<div class="block block1" style="top: 36em; left:58em;"></div>
<div class="block block1" style="top: 18em; left:2em;"></div>
<div class="block block1" style="top: 18em; left:57em;"></div>
<div class="block block1" style="top: 41em; left:2em;"></div>
<div class="block block1" style="top: 41em; left:57em;"></div>
<div class="block block1" style="top: 19em; left:2em;"></div>
<div class="block block1" style="top: 19em; left:57em;"></div>
<div class="block block1" style="top: 40em; left:2em;"></div>
<div class="block block1" style="top: 40em; left:57em;"></div>
<div class="block block1" style="top: 20em; left:2em;"></div>
<div class="block block1" style="top: 20em; left:57em;"></div>
<div class="block block1" style="top: 39em; left:2em;"></div>
<div class="block block1" style="top: 39em; left:57em;"></div>
<div class="block block1" style="top: 16em; left:3em;"></div>
<div class="block block1" style="top: 16em; left:56em;"></div>
<div class="block block1" style="top: 43em; left:3em;"></div>
<div class="block block1" style="top: 43em; left:56em;"></div>
<div class="block block1" style="top: 17em; left:3em;"></div>
<div class="block block1" style="top: 17em; left:56em;"></div>
<div class="block block1" style="top: 42em; left:3em;"></div>
<div class="block block1" style="top: 42em; left:56em;"></div>
<div class="block block1" style="top: 14em; left:4em;"></div>
<div class="block block1" style="top: 14em; left:55em;"></div>
<div class="block block1" style="top: 45em; left:4em;"></div>
<div class="block block1" style="top: 45em; left:55em;"></div>
<div class="block block1" style="top: 15em; left:4em;"></div>
<div class="block block1" style="top: 15em; left:55em;"></div>
<div class="block block1" style="top: 44em; left:4em;"></div>
<div class="block block1" style="top: 44em; left:55em;"></div>
<div class="block block1" style="top: 13em; left:5em;"></div>
<div class="block block1" style="top: 13em; left:54em;"></div>
<div class="block block1" style="top: 46em; left:5em;"></div>
<div class="block block1" style="top: 46em; left:54em;"></div>
<div class="block block1" style="top: 12em; left:6em;"></div>
<div class="block block1" style="top: 12em; left:53em;"></div>
<div class="block block1" style="top: 47em; left:6em;"></div>
<div class="block block1" style="top: 47em; left:53em;"></div>
<div class="block block1" style="top: 10em; left:7em;"></div>
<div class="block block1" style="top: 10em; left:52em;"></div>
<div class="block block1" style="top: 49em; left:7em;"></div>
<div class="block block1" style="top: 49em; left:52em;"></div>
<div class="block block1" style="top: 11em; left:7em;"></div>
<div class="block block1" style="top: 11em; left:52em;"></div>
<div class="block block1" style="top: 48em; left:7em;"></div>
<div class="block block1" style="top: 48em; left:52em;"></div>
<div class="block block1" style="top: 9em; left:8em;"></div>
<div class="block block1" style="top: 9em; left:51em;"></div>
<div class="block block1" style="top: 50em; left:8em;"></div>
<div class="block block1" style="top: 50em; left:51em;"></div>
<div class="block block1" style="top: 8em; left:9em;"></div>
<div class="block block1" style="top: 8em; left:50em;"></div>
<div class="block block1" style="top: 51em; left:9em;"></div>
<div class="block block1" style="top: 51em; left:50em;"></div>
<div class="block block1" style="top: 7em; left:10em;"></div>
<div class="block block1" style="top: 7em; left:49em;"></div>
<div class="block block1" style="top: 52em; left:10em;"></div>
<div class="block block1" style="top: 52em; left:49em;"></div>
<div class="block block1" style="top: 7em; left:11em;"></div>
<div class="block block1" style="top: 7em; left:48em;"></div>
<div class="block block1" style="top: 52em; left:11em;"></div>
<div class="block block1" style="top: 52em; left:48em;"></div>
<div class="block block1" style="top: 6em; left:12em;"></div>
<div class="block block1" style="top: 6em; left:47em;"></div>
<div class="block block1" style="top: 53em; left:12em;"></div>
<div class="block block1" style="top: 53em; left:47em;"></div>
<div class="block block1" style="top: 5em; left:13em;"></div>
<div class="block block1" style="top: 5em; left:46em;"></div>
<div class="block block1" style="top: 54em; left:13em;"></div>
<div class="block block1" style="top: 54em; left:46em;"></div>
<div class="block block1" style="top: 4em; left:14em;"></div>
<div class="block block1" style="top: 4em; left:45em;"></div>
<div class="block block1" style="top: 55em; left:14em;"></div>
<div class="block block1" style="top: 55em; left:45em;"></div>
<div class="block block1" style="top: 4em; left:15em;"></div>
<div class="block block1" style="top: 4em; left:44em;"></div>
<div class="block block1" style="top: 55em; left:15em;"></div>
<div class="block block1" style="top: 55em; left:44em;"></div>
<div class="block block1" style="top: 3em; left:16em;"></div>
<div class="block block1" style="top: 3em; left:43em;"></div>
<div class="block block1" style="top: 56em; left:16em;"></div>
<div class="block block1" style="top: 56em; left:43em;"></div>
<div class="block block1" style="top: 3em; left:17em;"></div>
<div class="block block1" style="top: 3em; left:42em;"></div>
<div class="block block1" style="top: 56em; left:17em;"></div>
<div class="block block1" style="top: 56em; left:42em;"></div>
<div class="block block1" style="top: 2em; left:18em;"></div>
<div class="block block1" style="top: 2em; left:41em;"></div>
<div class="block block1" style="top: 57em; left:18em;"></div>
<div class="block block1" style="top: 57em; left:41em;"></div>
<div class="block block1" style="top: 2em; left:19em;"></div>
<div class="block block1" style="top: 2em; left:40em;"></div>
<div class="block block1" style="top: 57em; left:19em;"></div>
<div class="block block1" style="top: 57em; left:40em;"></div>
<div class="block block1" style="top: 2em; left:20em;"></div>
<div class="block block1" style="top: 2em; left:39em;"></div>
<div class="block block1" style="top: 57em; left:20em;"></div>
<div class="block block1" style="top: 57em; left:39em;"></div>
<div class="block block1" style="top: 1em; left:21em;"></div>
<div class="block block1" style="top: 1em; left:38em;"></div>
<div class="block block1" style="top: 58em; left:21em;"></div>
<div class="block block1" style="top: 58em; left:38em;"></div>
<div class="block block1" style="top: 1em; left:22em;"></div>
<div class="block block1" style="top: 1em; left:37em;"></div>
<div class="block block1" style="top: 58em; left:22em;"></div>
<div class="block block1" style="top: 58em; left:37em;"></div>
<div class="block block1" style="top: 1em; left:23em;"></div>
<div class="block block1" style="top: 1em; left:36em;"></div>
<div class="block block1" style="top: 58em; left:23em;"></div>
<div class="block block1" style="top: 58em; left:36em;"></div>
<div class="block block1" style="top: 0em; left:24em;"></div>
<div class="block block1" style="top: 0em; left:35em;"></div>
<div class="block block1" style="top: 59em; left:24em;"></div>
<div class="block block1" style="top: 59em; left:35em;"></div>
<div class="block block1" style="top: 0em; left:25em;"></div>
<div class="block block1" style="top: 0em; left:34em;"></div>
<div class="block block1" style="top: 59em; left:25em;"></div>
<div class="block block1" style="top: 59em; left:34em;"></div>
<div class="block block1" style="top: 0em; left:26em;"></div>
<div class="block block1" style="top: 0em; left:33em;"></div>
<div class="block block1" style="top: 59em; left:26em;"></div>
<div class="block block1" style="top: 59em; left:33em;"></div>
<div class="block block1" style="top: 0em; left:27em;"></div>
<div class="block block1" style="top: 0em; left:32em;"></div>
<div class="block block1" style="top: 59em; left:27em;"></div>
<div class="block block1" style="top: 59em; left:32em;"></div>
<div class="block block1" style="top: 0em; left:28em;"></div>
<div class="block block1" style="top: 0em; left:31em;"></div>
<div class="block block1" style="top: 59em; left:28em;"></div>
<div class="block block1" style="top: 59em; left:31em;"></div>
<div class="block block1" style="top: 0em; left:29em;"></div>
<div class="block block1" style="top: 0em; left:30em;"></div>
<div class="block block1" style="top: 59em; left:29em;"></div>
<div class="block block1" style="top: 59em; left:30em;"></div>
</div>


</template>
<style lang="scss" scoped>
.ggapp-pixel-canvas-drawlayer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.block1 {
    background: gray;
}
.block {
    position: absolute;
    height: calc(1em + 1px);
    width: calc(1em + 1px);
}
</style>