<script setup>
import { ref, onMounted, computed, nextTick } from 'vue'
import Circle from './components/Circle.vue';
const wheel = ref(null);
const items = ref([
  { id: 1, name: "alcoMafia", htmlContent: "Алко Мафия", background: "#374a48", icon: "mafia2.png", disabled: false },
  { id: 6, name: "pizaTower", htmlContent: "Пизанская<br>башня", background: "#737462", icon: "galss-tower2.png", disabled: false },
  { id: 7, name: "tablePennis", htmlContent: "Пинг-понг<br>турнир", background: "#8a321a", icon: "ping-pong.png", disabled: false },
  { id: 8, name: "penisGifts", htmlContent: "Пинг-понг<br>с призами", background: "#774f4d", icon: "gift-box.png", disabled: false },
  { id: 10, name: "tupoAlko", htmlContent: "Просто<br>выпить", background: "#f4d9a4", icon: "wine.png", disabled: false, infinite: true },
  { id: 12, name: "overspill", htmlContent: "Не разлей", background: "#97adbb", icon: "beer.png", disabled: false },
  { id: 13, name: "drinkroll", htmlContent: "Пьяная<br>туалетка", background: "#8a6f2c", icon: "toilet.png", disabled: false },
  { id: 14, name: "guesswho", htmlContent: "Кто я?", background: "#87a447", icon: "ask.png", disabled: false },
]);

const gameEnded = ref(false);
const itemSelected = ref(null);
const processingLock = ref(false);

const itemAngle = computed(() => 360 / items.value.length);

const startingAngle = computed(() => {
  return (
    0 - itemAngle.value / 2
  );
})

const onWheelEnd = (ev) => {
  if (!itemSelected.value) {
    return;
  }

  console.log('ended', itemSelected.value)
  const index = items.value.findIndex(v => v.id === itemSelected.value.id);
  if (index !== -1 && items.value[index] && !items.value[index].infinite) {
    items.value[index].disabled = true;
  }
}
const onWheelStart = (ev) => {
  console.log('started')
}


const reset = () => {
  itemSelected.value = null;
  console.log(startingAngle.value)
  document.querySelector(
    `#wheel-container .wheel`
  ).style.transform = `rotate(${startingAngle.value}deg)`;
  console.log('resetted')
}
const launchWheel = async () => {
  if (items.value.filter(v => !v.disabled).length === 0) {
    gameEnded.value = true;
    return;
  }

  if (processingLock.value && itemSelected.value != null) {
    console.log('locked...')
    return;
  }

  const randId = Math.floor(Math.random() * items.value.length + 1) - 1;
  if (items.value[randId].disabled) {
    launchWheel();
    return;
  }

  processingLock.value = true;
  const wheelResult = randId;
  const wheelElt = document.querySelector(`#wheel-container .wheel`);

  itemSelected.value = items.value[wheelResult];

  console.log(wheelResult, 50 * (360 * 3) +
    -(wheelResult) * itemAngle.value -
    itemAngle.value / 2)

  wheelElt.style.transform = `rotate(${
    Math.floor(Math.random() * (100 - 10) + 10) * (360 * 3) +
    -(wheelResult) * itemAngle.value -
    itemAngle.value / 2
  }deg)`;
  onWheelStart();
}

const getDegreee = (index) => {
  return itemAngle.value * index
}

onMounted(() => {
  console.log('______________')
  document.addEventListener('keyup', (ev) => {
    if (ev.key == " " ||
      ev.code == "Space" ||      
      ev.keyCode == 32) {
        reset();
        launchWheel();
      }
  });
  nextTick(() => {
    reset();
    document.querySelector(`#wheel-container .wheel`).addEventListener("transitionend", () => {
      console.log('ended trs')
      processingLock.value = false;
      onWheelEnd();
    });
  })
})

</script>

<template>
  <div class="app">
    <div class="bg"></div>
    <div v-for="i in 50" class="snowflake"></div>
    <ul class="lightrope"><li v-for="i in 50"></li></ul>
    <div id="wheel-container" class="wheel-container">
      <div class="wheel pixel-corners" :style="`transform: rotate(${startingAngle}deg); z-index: 2`">
        <div
          v-for="item, index in items" class="wheel-item"
          :style="`transform: rotate(${getDegreee(index)}deg) skewY(${-(90 - itemAngle)}deg); background-color: ${item.background};`"
          :class="{ 'disabled': item.disabled }"
        >
          <div
            class="content"
            :style="{
              transform: `skewY(${90 - itemAngle}deg) rotate(${
                  itemAngle / 2
                }deg)`
            }"
          >
            <img :src="`/icons/${item.icon}`" alt="">
          </div>
        </div>
      </div>
      <!-- <img v-if="true" src="/circle.png" style="position: absolute; z-index: 1; width: 140%; max-width: unset; left: 50%; top: 50%; transform: translate(-50%, -50%);"> -->
      <div class="circle pixel-corners" :style="`background-color: white; z-index: 4`"></div>
      <div class="button" @click="reset(); launchWheel()">Крутить колесо</div>
    </div>
    <div class="game-list">
      <div class="top">
        <div class="hole"></div>
        <div class="hole"></div>
        <div class="hole"></div>
        <div class="hole"></div>
      </div>
      <div v-for="game in items" class="game">
        <img :src="`/icons/${game.icon}`">
        <p v-html="game.htmlContent"></p>
        <div class="cross" v-if="game.disabled"></div>
      </div>
    </div>
    <div class="tree-line"></div>
    <div class="drift-line"></div>
    <div class="drift-line2"></div>
  </div>
</template>

<style lang="scss">
@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";
* {
  font-family: 'BetterVCR';
  user-select: none;
}
  .tree-line {
    position: absolute;
    bottom: 0;
    left: -100px;
    width: calc(100% + 100px);
    height: 200px;
    background-image: url('/public/tree.png');
    background-size: contain;
    filter: sepia(.5);
  }
  .drift-line {
    position: absolute;
    bottom: -56px;
    left: -100px;
    width: calc(100% + 100px);
    height: 100px;
    background-image: url('/public/drift.png');
    background-size: 10%;
    background-repeat: repeat-x;
    filter: sepia(.5);
    z-index: 999;
  }
  .drift-line2 {
    position: absolute;
    bottom: -58px;
    left: 0;
    width: calc(100% + 100px);
    height: 100px;
    background-image: url('/public/drift.png');
    background-size: 10%;
    background-repeat: repeat-x;
    filter: sepia(.5) brightness(.9);
    z-index: 998;
  }
  .game-list {
    position: relative;
    z-index: 10;
    padding: 20px 40px;
    margin-left: 100px;
    background: #f4d9a4;
    @include pixel-borders(      
      $corner-size: 2,
      $border-size: 8px,
      $border-color: #440707,
      $border-inset-color: #44070754
    );


    .top {
      height: 60px;
      border-bottom: solid 8px #440707;
      margin-left: -40px;
      margin-right: -40px;
      margin-top: -20px;
      background: #440707a9;
      padding: 10px 40px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .hole {
        width: 30px;
        height: 30px;
        position: relative;

        &::before {
          content: "";
          height: 30px;
          width: 15px;
          position: absolute;
          bottom: 120%;
          left: 50%;
          transform: translateX(-50%);
          border: solid 5px #440707;
          background: #8f8f8f;
        }

        @include pixel-box(      
          $background-color: #f4d9a4,
          $corner-size: 1,
          $border-size: 8px,
          $border-color: #440707,
        );
      }
    }

    .game {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      width: fit-content;

      p {
        white-space: nowrap;
        margin-left: 26px;
        font-size: 18px;
        color: #440707;
        br {
          display: none;
        }
      }

      img {
        height: 60px;
        filter: sepia(.5);
      }
      .cross {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        width: 100%;
        height: 6px;
        background: #440707;
        @include pixel-borders(      
          $corner-size:1,
          $border-size: 2px,
          $border-color: #440707,
        );
      }
    }
  }

  h1 {
    font-family: 'Christmas';
    position: fixed;
    top: 10vh;
    font-size: 100px !important;
    color: #440707;
    text-transform: uppercase;
  }
  .button {
    background: #f4d9a4;
    padding: 18px 36px !important;
    font-size: 24px;
    font-weight: 600;
    color: #440707;
    border: solid 5px #440707;
    cursor: pointer;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include pixel-borders(      
      $corner-size: 2,
      $border-size: 8px,
      $border-color: #440707,
    );
    &:before {
      content: "";
      left: 50%;
      bottom: 100%;
      position: absolute;
      z-index: 4;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 50px solid #440707;
      transform: translate(-50%);
    }
  }

  body {
    overflow: hidden;
  }
  .app {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .bg {
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url('/public/bg.svg');
      opacity: .4;
      z-index: 0;
    }
  }
  .wheel-container {
    position: relative;
  }
  .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    opacity: .1;
  }

  .wheel {
    width: 750px;
    height: 750px;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition-duration: 8s;
    border: solid 24px #440707;
    background: #440707;
    overflow: hidden;

    .wheel-item {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 50%;
      transform-origin: 0% 100%;
      border: solid 5px #530a0a;
      transition: .3s ease-out;
      box-shadow: inset #500d0d42 6px 13px 0px;

      &.disabled {
        opacity: .3;
      }

      .content {
        position: absolute;
        left: -100%;
        width: 200%;
        height: 200%;
        text-align: center;
        padding-top: 40px;
        transform: skewY(0deg) rotate(45deg);
        filter: sepia(.5);

        p {
          margin-top: 80px;
          font-weight: 600;
          color: #440707;
          font-size: 18px;
          line-height: 100%;
        }

        img {
          width: 80px;
          position: absolute;
          top: 45px;
          left: 50%;
          transform: translateX(-50%);
          filter: drop-shadow(3px 3px 0px #500d0d42);
        }
      }
    }
  }
  
.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  z-index: 111;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}
$globe-width:   12px;
$globe-height:  28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;

body {
  background: #000;
}
.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 5px;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
  filter: sepia(.5);

  li {
    position: relative;
    animation-fill-mode: both; 
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;
    background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);
    animation-name: flash-1;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: rgba(0,255,255,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.5);
      animation-name: flash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n+2) {
      background: rgba(247,0,148,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
      animation-name: flash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }
    &:after {
      content: "";
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}
@keyframes flash-1 { 
    0%, 100% { background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);} 
    50% { background: rgba(0,247,165,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,0.2);}
}
@keyframes flash-2 { 
    0%, 100% { background: rgba(0,255,255,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,1);} 
    50% { background: rgba(0,255,255,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.2);}
}
@keyframes flash-3 { 
    0%, 100% { background: rgba(247,0,148,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);} 
    50% { background: rgba(247,0,148,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,0.2);}
}
.pixel-corners {
  clip-path: polygon(
    0px calc(100% - 342px),
    6px calc(100% - 342px),
    6px calc(100% - 336px),
    6px calc(100% - 306px),
    12px calc(100% - 306px),
    12px calc(100% - 300px),
    12px calc(100% - 288px),
    18px calc(100% - 288px),
    18px calc(100% - 282px),
    18px calc(100% - 270px),
    24px calc(100% - 270px),
    24px calc(100% - 264px),
    24px calc(100% - 252px),
    30px calc(100% - 252px),
    30px calc(100% - 246px),
    30px calc(100% - 240px),
    36px calc(100% - 240px),
    36px calc(100% - 234px),
    36px calc(100% - 228px),
    42px calc(100% - 228px),
    42px calc(100% - 222px),
    42px calc(100% - 210px),
    48px calc(100% - 210px),
    48px calc(100% - 204px),
    48px calc(100% - 198px),
    54px calc(100% - 198px),
    54px calc(100% - 192px),
    60px calc(100% - 192px),
    60px calc(100% - 186px),
    60px calc(100% - 180px),
    66px calc(100% - 180px),
    66px calc(100% - 174px),
    72px calc(100% - 174px),
    72px calc(100% - 168px),
    72px calc(100% - 162px),
    78px calc(100% - 162px),
    78px calc(100% - 156px),
    84px calc(100% - 156px),
    84px calc(100% - 150px),
    84px calc(100% - 144px),
    90px calc(100% - 144px),
    90px calc(100% - 138px),
    96px calc(100% - 138px),
    96px calc(100% - 132px),
    102px calc(100% - 132px),
    102px calc(100% - 126px),
    108px calc(100% - 126px),
    108px calc(100% - 120px),
    120px calc(100% - 108px),
    126px calc(100% - 108px),
    126px calc(100% - 102px),
    132px calc(100% - 102px),
    132px calc(100% - 96px),
    138px calc(100% - 96px),
    138px calc(100% - 90px),
    144px calc(100% - 90px),
    144px calc(100% - 84px),
    150px calc(100% - 84px),
    156px calc(100% - 84px),
    156px calc(100% - 78px),
    162px calc(100% - 78px),
    162px calc(100% - 72px),
    168px calc(100% - 72px),
    174px calc(100% - 72px),
    174px calc(100% - 66px),
    180px calc(100% - 66px),
    180px calc(100% - 60px),
    186px calc(100% - 60px),
    192px calc(100% - 60px),
    192px calc(100% - 54px),
    198px calc(100% - 54px),
    198px calc(100% - 48px),
    204px calc(100% - 48px),
    210px calc(100% - 48px),
    210px calc(100% - 42px),
    222px calc(100% - 42px),
    228px calc(100% - 42px),
    228px calc(100% - 36px),
    234px calc(100% - 36px),
    240px calc(100% - 36px),
    240px calc(100% - 30px),
    246px calc(100% - 30px),
    252px calc(100% - 30px),
    252px calc(100% - 24px),
    264px calc(100% - 24px),
    270px calc(100% - 24px),
    270px calc(100% - 18px),
    282px calc(100% - 18px),
    288px calc(100% - 18px),
    288px calc(100% - 12px),
    300px calc(100% - 12px),
    306px calc(100% - 12px),
    306px calc(100% - 6px),
    336px calc(100% - 6px),
    342px calc(100% - 6px),
    342px 100%,
    calc(100% - 342px) 100%,
    calc(100% - 342px) calc(100% - 6px),
    calc(100% - 336px) calc(100% - 6px),
    calc(100% - 306px) calc(100% - 6px),
    calc(100% - 306px) calc(100% - 12px),
    calc(100% - 300px) calc(100% - 12px),
    calc(100% - 288px) calc(100% - 12px),
    calc(100% - 288px) calc(100% - 18px),
    calc(100% - 282px) calc(100% - 18px),
    calc(100% - 270px) calc(100% - 18px),
    calc(100% - 270px) calc(100% - 24px),
    calc(100% - 264px) calc(100% - 24px),
    calc(100% - 252px) calc(100% - 24px),
    calc(100% - 252px) calc(100% - 30px),
    calc(100% - 246px) calc(100% - 30px),
    calc(100% - 240px) calc(100% - 30px),
    calc(100% - 240px) calc(100% - 36px),
    calc(100% - 234px) calc(100% - 36px),
    calc(100% - 228px) calc(100% - 36px),
    calc(100% - 228px) calc(100% - 42px),
    calc(100% - 222px) calc(100% - 42px),
    calc(100% - 210px) calc(100% - 42px),
    calc(100% - 210px) calc(100% - 48px),
    calc(100% - 204px) calc(100% - 48px),
    calc(100% - 198px) calc(100% - 48px),
    calc(100% - 198px) calc(100% - 54px),
    calc(100% - 192px) calc(100% - 54px),
    calc(100% - 192px) calc(100% - 60px),
    calc(100% - 186px) calc(100% - 60px),
    calc(100% - 180px) calc(100% - 60px),
    calc(100% - 180px) calc(100% - 66px),
    calc(100% - 174px) calc(100% - 66px),
    calc(100% - 174px) calc(100% - 72px),
    calc(100% - 168px) calc(100% - 72px),
    calc(100% - 162px) calc(100% - 72px),
    calc(100% - 162px) calc(100% - 78px),
    calc(100% - 156px) calc(100% - 78px),
    calc(100% - 156px) calc(100% - 84px),
    calc(100% - 150px) calc(100% - 84px),
    calc(100% - 144px) calc(100% - 84px),
    calc(100% - 144px) calc(100% - 90px),
    calc(100% - 138px) calc(100% - 90px),
    calc(100% - 138px) calc(100% - 96px),
    calc(100% - 132px) calc(100% - 96px),
    calc(100% - 132px) calc(100% - 102px),
    calc(100% - 126px) calc(100% - 102px),
    calc(100% - 126px) calc(100% - 108px),
    calc(100% - 120px) calc(100% - 108px),
    calc(100% - 108px) calc(100% - 120px),
    calc(100% - 108px) calc(100% - 126px),
    calc(100% - 102px) calc(100% - 126px),
    calc(100% - 102px) calc(100% - 132px),
    calc(100% - 96px) calc(100% - 132px),
    calc(100% - 96px) calc(100% - 138px),
    calc(100% - 90px) calc(100% - 138px),
    calc(100% - 90px) calc(100% - 144px),
    calc(100% - 84px) calc(100% - 144px),
    calc(100% - 84px) calc(100% - 150px),
    calc(100% - 84px) calc(100% - 156px),
    calc(100% - 78px) calc(100% - 156px),
    calc(100% - 78px) calc(100% - 162px),
    calc(100% - 72px) calc(100% - 162px),
    calc(100% - 72px) calc(100% - 168px),
    calc(100% - 72px) calc(100% - 174px),
    calc(100% - 66px) calc(100% - 174px),
    calc(100% - 66px) calc(100% - 180px),
    calc(100% - 60px) calc(100% - 180px),
    calc(100% - 60px) calc(100% - 186px),
    calc(100% - 60px) calc(100% - 192px),
    calc(100% - 54px) calc(100% - 192px),
    calc(100% - 54px) calc(100% - 198px),
    calc(100% - 48px) calc(100% - 198px),
    calc(100% - 48px) calc(100% - 204px),
    calc(100% - 48px) calc(100% - 210px),
    calc(100% - 42px) calc(100% - 210px),
    calc(100% - 42px) calc(100% - 222px),
    calc(100% - 42px) calc(100% - 228px),
    calc(100% - 36px) calc(100% - 228px),
    calc(100% - 36px) calc(100% - 234px),
    calc(100% - 36px) calc(100% - 240px),
    calc(100% - 30px) calc(100% - 240px),
    calc(100% - 30px) calc(100% - 246px),
    calc(100% - 30px) calc(100% - 252px),
    calc(100% - 24px) calc(100% - 252px),
    calc(100% - 24px) calc(100% - 264px),
    calc(100% - 24px) calc(100% - 270px),
    calc(100% - 18px) calc(100% - 270px),
    calc(100% - 18px) calc(100% - 282px),
    calc(100% - 18px) calc(100% - 288px),
    calc(100% - 12px) calc(100% - 288px),
    calc(100% - 12px) calc(100% - 300px),
    calc(100% - 12px) calc(100% - 306px),
    calc(100% - 6px) calc(100% - 306px),
    calc(100% - 6px) calc(100% - 336px),
    calc(100% - 6px) calc(100% - 342px),
    100% calc(100% - 342px),
    100% 342px,
    calc(100% - 6px) 342px,
    calc(100% - 6px) 336px,
    calc(100% - 6px) 306px,
    calc(100% - 12px) 306px,
    calc(100% - 12px) 300px,
    calc(100% - 12px) 288px,
    calc(100% - 18px) 288px,
    calc(100% - 18px) 282px,
    calc(100% - 18px) 270px,
    calc(100% - 24px) 270px,
    calc(100% - 24px) 264px,
    calc(100% - 24px) 252px,
    calc(100% - 30px) 252px,
    calc(100% - 30px) 246px,
    calc(100% - 30px) 240px,
    calc(100% - 36px) 240px,
    calc(100% - 36px) 234px,
    calc(100% - 36px) 228px,
    calc(100% - 42px) 228px,
    calc(100% - 42px) 222px,
    calc(100% - 42px) 210px,
    calc(100% - 48px) 210px,
    calc(100% - 48px) 204px,
    calc(100% - 48px) 198px,
    calc(100% - 54px) 198px,
    calc(100% - 54px) 192px,
    calc(100% - 60px) 192px,
    calc(100% - 60px) 186px,
    calc(100% - 60px) 180px,
    calc(100% - 66px) 180px,
    calc(100% - 66px) 174px,
    calc(100% - 72px) 174px,
    calc(100% - 72px) 168px,
    calc(100% - 72px) 162px,
    calc(100% - 78px) 162px,
    calc(100% - 78px) 156px,
    calc(100% - 84px) 156px,
    calc(100% - 84px) 150px,
    calc(100% - 84px) 144px,
    calc(100% - 90px) 144px,
    calc(100% - 90px) 138px,
    calc(100% - 96px) 138px,
    calc(100% - 96px) 132px,
    calc(100% - 102px) 132px,
    calc(100% - 102px) 126px,
    calc(100% - 108px) 126px,
    calc(100% - 108px) 120px,
    calc(100% - 120px) 108px,
    calc(100% - 126px) 108px,
    calc(100% - 126px) 102px,
    calc(100% - 132px) 102px,
    calc(100% - 132px) 96px,
    calc(100% - 138px) 96px,
    calc(100% - 138px) 90px,
    calc(100% - 144px) 90px,
    calc(100% - 144px) 84px,
    calc(100% - 150px) 84px,
    calc(100% - 156px) 84px,
    calc(100% - 156px) 78px,
    calc(100% - 162px) 78px,
    calc(100% - 162px) 72px,
    calc(100% - 168px) 72px,
    calc(100% - 174px) 72px,
    calc(100% - 174px) 66px,
    calc(100% - 180px) 66px,
    calc(100% - 180px) 60px,
    calc(100% - 186px) 60px,
    calc(100% - 192px) 60px,
    calc(100% - 192px) 54px,
    calc(100% - 198px) 54px,
    calc(100% - 198px) 48px,
    calc(100% - 204px) 48px,
    calc(100% - 210px) 48px,
    calc(100% - 210px) 42px,
    calc(100% - 222px) 42px,
    calc(100% - 228px) 42px,
    calc(100% - 228px) 36px,
    calc(100% - 234px) 36px,
    calc(100% - 240px) 36px,
    calc(100% - 240px) 30px,
    calc(100% - 246px) 30px,
    calc(100% - 252px) 30px,
    calc(100% - 252px) 24px,
    calc(100% - 264px) 24px,
    calc(100% - 270px) 24px,
    calc(100% - 270px) 18px,
    calc(100% - 282px) 18px,
    calc(100% - 288px) 18px,
    calc(100% - 288px) 12px,
    calc(100% - 300px) 12px,
    calc(100% - 306px) 12px,
    calc(100% - 306px) 6px,
    calc(100% - 336px) 6px,
    calc(100% - 342px) 6px,
    calc(100% - 342px) 0px,
    342px 0px,
    342px 6px,
    336px 6px,
    306px 6px,
    306px 12px,
    300px 12px,
    288px 12px,
    288px 18px,
    282px 18px,
    270px 18px,
    270px 24px,
    264px 24px,
    252px 24px,
    252px 30px,
    246px 30px,
    240px 30px,
    240px 36px,
    234px 36px,
    228px 36px,
    228px 42px,
    222px 42px,
    210px 42px,
    210px 48px,
    204px 48px,
    198px 48px,
    198px 54px,
    192px 54px,
    192px 60px,
    186px 60px,
    180px 60px,
    180px 66px,
    174px 66px,
    174px 72px,
    168px 72px,
    162px 72px,
    162px 78px,
    156px 78px,
    156px 84px,
    150px 84px,
    144px 84px,
    144px 90px,
    138px 90px,
    138px 96px,
    132px 96px,
    132px 102px,
    126px 102px,
    126px 108px,
    120px 108px,
    108px 120px,
    108px 126px,
    102px 126px,
    102px 132px,
    96px 132px,
    96px 138px,
    90px 138px,
    90px 144px,
    84px 144px,
    84px 150px,
    84px 156px,
    78px 156px,
    78px 162px,
    72px 162px,
    72px 168px,
    72px 174px,
    66px 174px,
    66px 180px,
    60px 180px,
    60px 186px,
    60px 192px,
    54px 192px,
    54px 198px,
    48px 198px,
    48px 204px,
    48px 210px,
    42px 210px,
    42px 222px,
    42px 228px,
    36px 228px,
    36px 234px,
    36px 240px,
    30px 240px,
    30px 246px,
    30px 252px,
    24px 252px,
    24px 264px,
    24px 270px,
    18px 270px,
    18px 282px,
    18px 288px,
    12px 288px,
    12px 300px,
    12px 306px,
    6px 306px,
    6px 336px,
    6px 342px,
    0px 342px
  );
}
</style>
